/*!  SHORTCODE PARTNERS
----------------------------------------------------------*/

.vl-partner-item
	display flex
	align-items center
	line-height 0
	height 60px
	&.left
		justify-content flex-start
	&.center
		justify-content center
	&.right
		justify-content flex-end
	a
		display block
		
	@media (max-width: 767px)
		margin-bottom 30px
		
.vl-partner-item .vl-partner-item-inner img
	display inline-block
	width auto
	height 45px
