/*!  SHORTCODE CUSTOM TITLE
----------------------------------------------------------*/

.vl-custom-title-holder
	margin-bottom 50px
	.vl-custom-title
		letter-spacing 0px
	
	.vl-custom-subtitle
		display block
		
	&.center
		text-align center
	
	&.right
		text-align right